*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0%;
}

/* hero */

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    display: block;
}

.nav{
    margin-top: 2rem;
    margin-bottom: 3rem;  
}

.logo1{
    margin-left: 4rem;
}

.header-btn{
    float: right;
    margin-right: 4rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    color: #fc03eb9c;
    border-radius: 2rem;
    outline: none;
    border: 1px solid #fc03eb9c;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero{
    text-align: center;
}

.hero h1{
    font-family: 'Poppins',sans-serif;
    font-size: 500;
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
    margin: 0 10rem;
}

.hero p{

    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.288);
    max-width: 50%;
    margin: auto;
    padding: 0.4rem 0;
    margin-bottom: 2rem;
}

.common-btn{
    padding: 1.2rem 4rem;
    background-color: #fc03eb9c ;
    color: white;
    outline: none;
    border-radius: 3rem;
    border: 1px solid #fc03eb9c;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 2rem;
}

.mockup{
    padding: 3rem ;
    margin-bottom: 2rem;
}
.floating{
    width: 65%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

/* stats */


.stats{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
    
}

.communities{
    display: flex;
    flex-direction: column;
}

.communities img{
    width: 47px;
    height: 41px;
}

.communities h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: .25rem 0;
}

.communities p{
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.288);
}

.message{
    display: flex;
    flex-direction: column;
}

.message img{
    width: 47px;
    height: 41px;
}

.message h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: .25rem 0;
}

.message p{
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.288);
}


/* grow-communites */

.container-1, .container-2, .container-3{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
}

.grow-together, .Your-Users{
    background-color:  #F5FBFF;
    
}

.content1 h3, .content2 h3, .content3 h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    margin: .25rem 0;
}

.content1 p, .content2 p, .content3 p{
    max-width: 530px;
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.288);
}

.grow-together-img, .Flowing-Conversations-img, .your-user-img{
    width: 30%;
}

.bg-wave-1, .bg-wave-3, .footer-bg-top{
    width: 100%;
    height: auto;
    display: block;
}

.bg-wave-2, .bg-wave-4{
    width: 100%;
    display: block;
}

.Flowing-Conversations, .built-community{
    margin: 10rem 0;
}

.container-4{
    max-width: 1440px;
    text-align: center;
}



.content4 h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2.75rem;
    margin: 3rem 0;

}

/* footer */

.footera{
    background-color: #00252F;
}

.footer{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
    color: white;
    padding: 10rem 0;
}

.footer-logo{
    filter: invert(1) sepia(1) saturate(1) hue-rotate(0deg) brightness(5);
    margin-bottom: 1.5rem;
}

.footer-1 p, .footer-2 p{
    max-width: 380px;
    margin-bottom: 1.5rem;

}

.footer-1 ul{
    list-style: none;
    text-decoration: none;
}

.input-email{
    padding: 10px 60px 10px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.281);
    margin-right: 20px;
}

.input-submit{
    padding: .65rem 2.5rem .65rem;
    background-color: #fc03eb9c ;
    border-radius: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

.icon1, .icon2{
    margin-right: 1rem;
}

.contacts ul li{
    margin-bottom: 1rem;
}

/* responsive */

@media only screen and (max-width: 770px){

    body {
        margin-right: 0;
    }
    
    .logo1{
        width: 33%;
        margin-left: 2rem;
    }

    .header-btn{
        margin-right: 2rem;
        padding: 0.5rem 1rem;
    }
  
    .hero h1{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 2rem;
    }
    
    .hero p{
        font-size: .75rem;
        max-width: 60%;
    }
    
    .floating{
        width: 85%;
    }

    .stats{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .communities, .message{
        flex-direction: column;
        margin-bottom: 3rem;
        align-self: center;
        text-align: center;
    }

    .container-1, .container-2, .container-3, .container-4, .footer{
        flex-direction: column;
        margin: 0 2rem;
    }

    .content1 h3, .content2 h3, .content3 h3{
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1.5rem;
        
    }
    
    .content1 p, .content2 p, .content3 p{
        max-width: 300px;
        font-size: .75rem;
        text-align: center;
        margin: 1.5rem 0;
    }
    
    .grow-together-img, .Flowing-Conversations-img, .your-user-img{
        width: 95%;
        margin-bottom: 1rem;

    }

    .content4 h3{
        font-size: 1.75rem;
        margin: 2rem 0;
    }

    .Flowing-Conversations, .built-community{
        margin: 7rem 0;
    }

    .footer-logo{
        
        width: 50%;
    }
    
    .footer-1 p, .footer-2 p{
        font-size: .75rem;
        margin: 1rem 0;
    
    }

    .footer-1 ul{
        font-size: .65rem;
    }

    .footer-2 h3{
        margin-top: 2rem;
    }

    .input-email{
       
        margin-bottom: 20px;
    }

    





}




